

header {
  text-align: center;
  margin-bottom: 3rem;
}


.column {
float: left;
width: 33.33%;
padding: 300px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.gallery img {
  width: 100%;
  margin-bottom: 2rem;
}
