body {
  font-family: serif;
  background: #fafafa;
  color: #111;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

.poem {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery img {
  width: 100%;
  margin-bottom: 2rem;
}
